<!DOCTYPE html>
<html>
  <head>
    <title>MY TECH WORLD!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1 class="title">Hi, Welcome to my website! </h1>
      <p >Hi! my name is Shivam a passionate GCP Devops Engineer .This is a simple deployment  project for devops cicd pipline practice </p>
      <p id="currentTime"></p>
      <script src="script.js"></script>
       
      
  </body>
  
  
  <!DOCTYPE html>
<html>
<body style="background-color:hsla(189, 71%, 55%, 0.984);">

<p><a href="login.html">Login</a></p>

<p><a href="http://localhost:8080/fun">Facts</a></p>

<p><a href="http://localhost:8080/Data">Data</a></p>
<p><a href="http://localhost:8080/result">result</a></p>
</body>
</html>

